extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/tours', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='여행지나 상품명을 검색해보세요!', aria-label='Search', value=term)

    h1.main-title 
      | Tours
      if tours.total > 0
        .small Total #{tours.total} tour(s)

    if tours.total <= 0 
      .alert.alert-info No tours available yet
    else
      .tours
        each tour in tours.docs
          .tour
            a.title(href=`/tours/${tour.id}`)= tour.title
            include _tour

      +paginate(tours, '/tours', query)

    hr
    if currentUser && currentUser.grade == '가이드'
      a.btn.btn-primary(href='/tours/new') Post Tour
