extends ../layout

block content
  .container
    h1.main-title New Tour
    form(action="/tours", method="POST")
      include _form
      button.btn.btn-outline-primary(type="submit") Post Your Tour

    