#footer
  .container 상호명 (주)리얼마이트립 | 대표 XXX | 개인정보보호책임자 XXX | 사업자등록번호 111-11-11111 사업자정보확인 | 통신판매업신고번호 1111-서울-1111
  .container 주소 XXXXX XXX XXXXX 111, XXXXXX 11층(XX동) | 이메일 help@realmytrip.com | 마케팅/제휴 문의 marketing@realmytrip.com
