extends ../layout

block content
  .container
    h1.main-title 프로필 수정
    form(action=`/users/${user._id}?_method=PUT`, method='POST')
      .form-group
        label(for='name') 이름
        input.form-control(type='text', id='name', name='name', placeholder='Your name', value=user.name)
      .form-group
        label(for='email') 이메일
        input.form-control(type='email', id='email', name='email', placeholder='Email', value=user.email)
      .form-group
        label(for='current_password') 현재 비밀번호
        input.form-control(type='password', id='current_password', name='current_password', placeholder='Current Password')
      .form-group
        label(for='password') 바꿀 비밀번호
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='password_confirmation') 비밀번호 확인
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password Confirmation')
      .form-group
        label(for='grade') 등급
        input.form-control(type='text', id='grade', name='grade', placeholder='Type your grade(사용자, 가이드, 관리자)')
        
      a.btn.btn-outline-secondary(href='javascript:window.history.back();') 뒤로가기 
      | 
      button.btn.btn-primary(type='submit') 확인
