extends layout

block content
  .resize
  p
  #carouselExampleControls.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active(data-interval='2000')
        img.d-block.w-100(src='/images/barcelona.jpg', alt='barcelona', max-width= '100%')
      .carousel-item(data-interval='2000')
        img.d-block.w-100(src='/images/boracay.jpg', alt='boracay', max-width= '100%')
      .carousel-item(data-interval='2000')
        img.d-block.w-100(src='/images/hongkong.jpg', alt='hongkong', max-width= '100%')
      .carousel-item(data-interval='2000')
        img.d-block.w-100(src='/images/japan.jpg', alt='japan', max-width= '100%')
      .carousel-item(data-interval='2000')
        img.d-block.w-100(src='/images/london.jpg', alt='london', max-width= '100%')
      .carousel-item(data-interval='2000')
        img.d-block.w-100(src='/images/macau.jpg', alt='macau', max-width= '100%')
      .carousel-item(data-interval='2000')
        img.d-block.w-100(src='/images/paris.jpg', alt='paris', max-width= '100%')
      .carousel-item(data-interval='2000')
        img.d-block.w-100(src='./images/taiwan.jpg', alt='taiwan', max-width= '100%')
    a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

  br
  form.form-inline.search-input-group(action='/tours', method='GET', style='width: 90%; margin: 0 auto;')
    i.fa.fa-search
    input.form-control.mr-sm-2(type='text', name='term', placeholder='여행지나 상품을 검색해보세요!', aria-label='Search', value=term)

  br
  br
  br
  br


  .card-deck(style='width: 70%; height: 30%; margin: 0 auto;')
    .card
      img.card-img-top(src='./images/taiwan.jpg', alt='taiwan', style='width: 100%')
      .card-body
        h5.card-title [김포-송산] 타이페이 왕복항공권 그리고 자유여행 2박3일/3박4일 (티웨이 특가!)
        p.card-text
          | (티웨이 특가!) 2박3일/3박4일 왕복항공권 그리고 자유여행...... 대만 타이페이 101 타워 전망대 입장권 티켓 (국광버스/국립고궁박물관/대만 유심과 함께 구매 시 추가 할인!)
        a.btn.btn-primary(href='https://obscure-citadel-78088.herokuapp.com/tours/5df75e3205e3092d5c351a84') 바로가기
    .card
      img.card-img-top(src='/images/paris.jpg', alt='paris', style='width: 100%')
      .card-body
        h5.card-title [마이리얼트립 ONLY] 한주영+신기환 가이드의 영국VS프랑스 집중투어 8박10일
        p.card-text 두고두고 바라볼 인생 사진 한 장쯤 남겨야 하는데, 일행은 사진을 너무 못 찍고, 모르는 사람에게 부탁하긴 불안하고, 삼각대를 놓고 찍자니 소매치기가 걱정인 분들께 추천해요^^
        a.btn.btn-primary(href='https://obscure-citadel-78088.herokuapp.com/tours/5df75a4c6c2f2c61f89abc06') 바로가기
    .card
      img.card-img-top(src='/images/macau.jpg', alt='macau', style='width: 100%')
      .card-body
        h5.card-title [부산出] 마카오 자유여행 4일 (에어부산+5성급 쉐라톤 그랜드 호텔 숙박!)
        p.card-text
          | 마카오의 메인인 성바울 성당 + 육포 / 쿠키 거리 + 세나도광장 등을 거쳐 세계 3대 카지노 호텔인 윈 호텔과 MGM호텔의 각종 쇼와 조형물을 구경하시고 셔틀버스를 탑승하여...
        a.btn.btn-primary(href='https://obscure-citadel-78088.herokuapp.com/tours/5df75ede05e3092d5c351a85') 바로가기
  p
  .card-deck(style='width: 70%; height: 30%; margin: 0 auto;')
    .card
      img.card-img-top(src='/images/london.jpg', alt='london', style='width: 100%')
      .card-body
        h5.card-title [베스트셀러] 서유럽 4국 10일! (아시아나 직항+전일 1급호텔+융프라우)
        p.card-text
          | 서유럽 4국 10일! (아시아나 직항+전일 1급호텔+융프라우)  해리포터 팬들의 성지! 호그와트를 그대로 재현한 이 곳에서 신비로운 마법의 세계를 즐겨보세요.
        a.btn.btn-primary(href='https://obscure-citadel-78088.herokuapp.com/tours/5df75f6605e3092d5c351a86') 바로가기
    .card
      img.card-img-top(src='/images/japan.jpg', alt='japan', style='width: 100%')
      .card-body
        h5.card-title [투어] 후지산 그리고가와구치호 리몬버스 Day Tour :: 일본/도쿄(매주 월,수,금,토 출발]
        p.card-text [투어] 후지산 그리고가와구치호 리몬버스 Day Tour :: 일본/도쿄 도쿄 후지산 일일 버스투어(매주 월,수,금,토 출발 지금바로 예약주세요]
        a.btn.btn-primary(href='https://obscure-citadel-78088.herokuapp.com/tours/5df75ff405e3092d5c351a88') 바로가기
    .card
      img.card-img-top(src='/images/hongkong.jpg', alt='hongkong', style='width: 100%')
      .card-body
        h5.card-title 음식의 천국, 홍콩 식도락 여행 - 동, 서양의 다양한 먹거리를 즐겨보자!
        p.card-text
          | 구글지도NO! 시간낭비NO!! 체력소모NO!!! 홍콩최초오후야간 연계투어 도보이동을 최소화한 대중교통 패키지 이반장이 속시원히 해결해드리겠습니다
        a.btn.btn-primary(href='https://obscure-citadel-78088.herokuapp.com/tours/5df7604405e3092d5c351a89') 바로가기

